* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gainsboro;
}
:root {
    --darkgray: #3e4444;
    --lightolive: #82b74b;
    --darkolive: #405d27;
    --pastel: #c1946a;
}

/* HEADER STYLE START */
.header {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding: 20px 35px;
    background-color: var(--darkgray);
}

.header h1 {
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
}

.header nav ul li {
    margin-left: 25px;
}

a {
    text-decoration: none;
}
/* HEADER STYLE END */

/* HERO STYLE START */
.hero {
    background-image: url("../images/DSC02878.JPG");
    background-size: cover;
    background-position: center;
    height: 80vh;
}
/* HERO STYLE END */

/* MAIN STYLE START */
.content {
    background-color: var(--darkolive);
    padding-left: 10%;
    padding-right: 10%;
}

.content section {
    padding: 50px;
    justify-content: center;
}

.content h2 {
    font-size: 48px;
    border-right: 5px solid var(--lightolive);
    padding-right: 5%;
}

.content div{
    font-size: 20px;
}

.about-me {
    display: flex;
}

.about-me h2 {
    text-align: right;
    flex-wrap: wrap;
    flex: 3;
}

.about-me div{
    flex: 7;
}

.about-me p {
    padding-left: 5%;
    padding-right: 10%;
}

.projects {
    display: flex;
}

.projects h2 {
    text-align: right;
    flex-wrap: wrap;
    flex: 3;
}

.projects a {
    flex-flow: row wrap;
}

.grid-img {
    padding-left: 5%;
    padding-right: 10%;
    flex: 7;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 50px);
    column-gap: 5px;
    row-gap: 5px;
}

.grid-item {
    grid-column: span 4;
    grid-row: span 2;
    border: 3px dashed black;
}

.grid-item img {
    transition: transform .2s;
    opacity: .7;
}

.grid-item img:hover {
    opacity: 1;
}

.main-item {
    grid-column: span 8;
    grid-row: span 4;
}

.contact-me {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.contact-me h2 {
    flex-wrap: wrap;
    flex: 3;
    text-align: right;
}

.contact-me div {
    flex: 7;
}

.contact-me div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;
}

.contact-me div ul li {
    text-decoration: underline;
    text-decoration-color: underline var(--darkgray);
}
/* MAIN STYLE END */