* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gainsboro;
}
:root {
    --darkgray: #3e4444;
    --lightolive: #82b74b;
    --darkolive: #405d27;
    --pastel: #c1946a;
}

/* HEADER STYLE START */
.header {
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    padding: 20px 35px;
    background-color: var(--darkgray);
}

.header h1 {
    font-size: 48px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
}

.header nav ul li {
    margin-left: 25px;
}

a {
    text-decoration: none;
}
/* HEADER STYLE END */

/* HERO STYLE START */
.hero {
    background-image: url("../images/DSC02878.JPG");
    background-size: cover;
    background-position: center;
    height: 80vh;
}
/* HERO STYLE END */

/* MAIN STYLE START */
.content {
    background-color: var(--darkolive);
    padding-left: 30vh;
    padding-right: 30vh;
}

.content section {
    padding: 50px;
}

.content h2 {
    font-size: 48px;
    border-right: 5px solid var(--lightolive);
    padding-right: 5vh;
}

.content div{
    font-size: 20px;
}

.about-me {
    display: flex;
}

.about-me h2 {
    text-align: right;
    flex-wrap: wrap;
    flex: 2;
}

.about-me div{
    flex: 8;
}

.about-me p{
    padding-left: 5vh;
    padding-right: 10vh;
}

.projects {
    display: flex;
}

.projects h2 {
    text-align: right;
    flex-wrap: wrap;
    flex: 2;
}

.projects div{
    flex: 8;
}

.projects p {
    padding-left: 5vh;
    padding-right: 10vh;
}

.contact-me {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.contact-me h2 {
    flex-wrap: wrap;
    flex: 2;
    text-align: right;
}

.contact-me div {
    flex: 8;
}

.contact-me div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 10vh;
}

.contact-me div ul li {
    text-decoration: underline;
    text-decoration-color: underline var(--darkgray);
}
/* MAIN STYLE END */