* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER STYLE START */

/* HEADER STYLE END */
body {
    color: pink;
}
/* HERO STYLE START */
.hero {
    /* background-image: url("../images/DSC02878.JPG");
    background-size: cover;
    background-position: center; */
    background: black;
}
/* HERO STYLE END */

/* */

/* */

/* */

/* */